@use '_partials/reset' as *;
@use '_partials/variables' as *;
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap.scss";
body {
    font-family: "Montserrat";
    background-color: $body-bg-color;
}
.art_bottom{
    background-color: $body-bg-color;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
img{
    width: 100%;
}